# Pre-Process data "ärztliches / nicht-ärztliches Personal"

In [1]:
import pandas as pd
import numpy as np

In [21]:
# read raw data from csv
df = pd.read_csv('C:/Users/mriedesel/Desktop/coronadb/aerztliches-nicht-aerztliches-personal-nach-bundesland.csv', sep=';', decimal=',')

In [22]:
df.head()

,Bundesland,Insgesamt_20171231,Ärztlicher Dienst_20171231,Nicht-ärztlicher Dienst_20171231,Auszubildende_20171231,Insgesamt_2017_Avg,Ärztlicher Dienst_2017_Avg,Nicht-ärztlicher Dienst_2017_Avg
0,Deutschland,1237646,186021,1051625,84186,894400,161208,733193
1,Baden-Württemberg,163308,22991,140317,10953,113905,19681,94224
2,Bayern,201859,28847,173012,12950,144253,25041,119212
3,Berlin,52631,9661,42970,2753,41034,8457,32577
4,Brandenburg,29099,5018,24081,2147,22490,4303,18187

In [23]:
# create relative values per Bundesland

df['Ärztlicher Dienst_20171231_Rel'] = df['Ärztlicher Dienst_20171231'] / df['Insgesamt_20171231']
df['Nicht-ärztlicher Dienst_20171231_Rel'] = df['Nicht-ärztlicher Dienst_20171231'] / df['Insgesamt_20171231']
df['Auszubildende_20171231_Rel'] = df['Auszubildende_20171231'] / df['Insgesamt_20171231']
df['Ärztlicher Dienst_2017_Avg_Rel'] = df['Ärztlicher Dienst_2017_Avg'] / df['Insgesamt_2017_Avg']
df['Nicht-ärztlicher Dienst_2017_Avg_Rel'] = df['Nicht-ärztlicher Dienst_2017_Avg'] / df['Insgesamt_2017_Avg']

In [24]:
df.head()

,Bundesland,Insgesamt_20171231,Ärztlicher Dienst_20171231,Nicht-ärztlicher Dienst_20171231,Auszubildende_20171231,Insgesamt_2017_Avg,Ärztlicher Dienst_2017_Avg,Nicht-ärztlicher Dienst_2017_Avg,Ärztlicher Dienst_20171231_Rel,Nicht-ärztlicher Dienst_20171231_Rel,Auszubildende_20171231_Rel,Ärztlicher Dienst_2017_Avg_Rel,Nicht-ärztlicher Dienst_2017_Avg_Rel
0,Deutschland,1237646,186021,1051625,84186,894400,161208,733193,0.150302,0.849698,0.068021,0.180242,0.819760
1,Baden-Württemberg,163308,22991,140317,10953,113905,19681,94224,0.140783,0.859217,0.067070,0.172784,0.827216
2,Bayern,201859,28847,173012,12950,144253,25041,119212,0.142907,0.857093,0.064154,0.173591,0.826409
3,Berlin,52631,9661,42970,2753,41034,8457,32577,0.183561,0.816439,0.052308,0.206097,0.793903
4,Brandenburg,29099,5018,24081,2147,22490,4303,18187,0.172446,0.827554,0.073783,0.191329,0.808671

In [25]:
# Write to csv
df.to_csv('C:/Users/mriedesel/Desktop/coronadb/aerztliches-nicht-aerztliches-personal-nach-bundesland_edited.csv', index=False)